.region:hover {
  cursor: pointer;
}
.region:hover path {
  transition: fill 0.1s;
  fill: cornflowerblue;
}
.txt {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.materialIcons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

header {
  padding: 15px;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltipContainer {
  position: relative;
}
.tooltipContainer:hover .tooltipContent {
  visibility: visible;
  opacity: 1;
  transition: 0.25s all ease;
  transition-delay: 0s;
  top: -125px;
}
.tooltipContent {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #000000;
  left: -38px;
  top: -130px;
  padding: 0 15px;
  margin: 16px;
  font-size: 15px;
  width: 250px;
  transition: 0.25s all ease;
  transition-delay: 0.25s;
  z-index: 2;
  color: #ffffff;
}
.tooltipContent .align {
  text-align: right;
}
